*{
    padding: 0px;
    margin: 0px;
    text-align: center;
}
.container{
    max-height: 100%;
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center ;
    background-image: url("./japanese-samurai-rain.jpg");
    background-size: cover;
}
#item{
    max-width: 100%;
    height: 60vmin;
    width: 60vmin;
    display:flex ;
    flex-wrap: wrap;
    justify-content: center;
    gap: 5px;
}
.box{
    max-width: 100%;
    height: 17vmin;
    width: 17vmin;
    border-radius: 8px;
    border: none;
    font-size:50px;
    font-family:fantasy;
    color: rgb(249, 3, 3);
    background-color:peachpuff;

}
@media (max-width:560px) {
    .box{
        font-size: 30px;
    }
  #button{
    max-width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

  }
    
}
h1:hover{
    background-color: rgb(215, 2, 70);
    transition: all 2s linear 1s;
}
#msg{
    color: whitesmoke;
    font-size: 30px;
    background-color:rgb(6, 65, 49) ;
}
.msg-container{
    height: 50px;
    border-radius: 20px;
}
.hide{
    display:none ;
}
#newbtn{
    height: 15px;
    width: 50px;
    background-color: black;
    color: aliceblue;
}
.RESTART{
    max-width: 100%;
    height: 35px;
    width: 90px;
    background-color: rgb(54, 255, 4);
    color: rgb(0, 0, 0);
    border-radius: 20px;
    position: absolute;
    bottom:5rem;
    left: 18rem;
    font-weight: bold;
    border: 0.5px solid rgb(0, 253, 248);
}